html{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    margin: 0;
}
h1{
    text-align: center;
}
.container{
    margin: 0 auto;
    background-color: #2A2F33;
    color: white;
    text-align: center;    
}

.container form{
    padding: 1rem;
    font-size: 1.5rem;
}

.container form input{
    text-align: center;
    background-color: #2A2F33;
    margin-bottom: 15px;
    width: 40%;
    margin:3px 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    color: white;
    padding: .5rem;
    font-size: 1.5rem;
}
#submit{
    display: inline-block;
    background-color: #0095eb;
    padding: 10px 45px 10px 45px;
    border: 0;
    color: white;
}
#submit:hover{
	background-color: #046193;
}

table{
    margin: 0 auto;
    color: whitesmoke;
    border-collapse: collapse;
    overflow: hidden;
}

table th{
    background-color: #2A2F33;
    padding: 10px;
    text-align: center;
}

table td{
    background-color: gray;
    padding: 10px;
    text-align: center;
}