{% extends "base.html" %}

{% block contenido %}
    <h2>Resultados</h2>
    <table>
        <tr>
            <th>Carrera</th>
            <th>NEM</th>
            <th>Ranking</th>
            <th>Lenguaje</th>
            <th>Matemáticas</th>
            <th>Historia</th>
            <th>Ciencias</th>
            <th>Último Seleccionado</th>
            <th>Puntaje Obtenido</th>
        </tr>
        {% for i in range %}
        <tr>
            <th>{{datos[i].get_nombre()}}</th>
            <th>{{datos[i].get_nem()}}</th>
            <th>{{datos[i].get_ranking()}}</th>
            <th>{{datos[i].get_lenguaje()}}</th>
            <th>{{datos[i].get_matematicas()}}</th>
            <th>{{datos[i].get_historia()}}</th>
            <th>{{datos[i].get_ciencias()}}</th>
            <th>{{datos[i].get_puntaje_ultimo()}}</th>
            <th>{{resultados[i]}}</th>
        </tr>
        {% endfor %}
        
    </table>
{% endblock %}