{% extends "base.html" %}

{% block contenido %}
    <h2>Resultados</h2>
    <table>
        <tr>
            <th>Carrera</th>
            <th>NEM</th>
            <th>Ranking</th>
            <th>Lenguaje</th>
            <th>Matemáticas</th>
            <th>Historia</th>
            <th>Ciencias</th>
            <th>Último Seleccionado</th>
            <th>Puntaje Obtenido</th>
        </tr>
        {% for i in range %}
        <tr>
            <td>{{datos[i].get_nombre()}}</td>
            <td>{{datos[i].get_nem()}}</td>
            <td>{{datos[i].get_ranking()}}</td>
            <td>{{datos[i].get_lenguaje()}}</td>
            <td>{{datos[i].get_matematicas()}}</td>
            <td>{{datos[i].get_historia()}}</td>
            <td>{{datos[i].get_ciencias()}}</td>
            <td>{{datos[i].get_puntaje_ultimo()}}</td>
            <td>{{resultados[i]}}</td>
        </tr>
        {% endfor %}
        
    </table>
{% endblock %}