<!DOCTYPE html>
<html>
<head>
    <title>Ejercicio PDT</title>
</head>
<body>
    <h1>Ejercicio PDT</h1>
    <h2>Apartado del postulante</h2>
    <form method="post">
        {{formulario.hidden_tag()}}
        {{formulario.lenguaje.label}}{{formulario.lenguaje}} <br>
        {{formulario.matematica.label}}{{formulario.matematica}} <br>
        {{formulario.ciencia.label}}{{formulario.ciencia}} <br>
        {{formulario.historia.label}}{{formulario.historia}} <br>
        {{formulario.nem.label}}{{formulario.nem}} <br>
        {{formulario.ranking.label}}{{formulario.ranking}} <br>
        {{formulario.submit}}
    </form>
</body>
</html>